@CHARSET "ISO-8859-1";
/* .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d8dcdf;
    background: #eeeeee url(/ProponenteCCB/javax.faces.resource/images/ui-bg_highlight-hard_100_eeeeee_1x100.png.jsf?ln=primefaces-blitzer) 50% 50% repeat-x;
    font-weight: bold;
    color: #ffffff;
    background: #cc0000 !important;
} */
.ui-icon {
	height: 19px;
	width: 18px;
}

.ui-menuitem-text {
	font-size: 13px;
	font-weight: bold;
}

.ui-corner-all {
	border-radius: 3px;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	background: #ffffff;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 1px 1px #8f8f8f;
	color: #004276;
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -11px;
}

.ui-button .ui-button-text {
	display: block;
	line-height: normal;
	margin-left: -4px;
}

.companyHeaderGrid.ui-panelgrid>*>tr,.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell
	{
	border: none;
}
